<a href="{{project.slug}}" class="{{project.id}} item col3 no-touch ajax ">
	<div class="item-img">
  		<img src="{{project.img}}"/>
	</div>
	<div class="layer">
  		<span class="wen"></span>
  		<h4>- {{project.title}} -</h4>
	</div>
</a>
