<section id="about-wrap">
    <div id="about" class="col1">
    	<div class="col2">
        	<h1>{{global.title}}</h1>
        	<p><span class="bold">{{global.description}}<a href="#" class="book-link">{{global.book-link}}</a>.</p>
      	</div>
      	<div id="photo-wrap" class="col3">
        	<span id="photo"></span>
      	</div>
    </div>
</section>