

<div id="dribbble">
 

	<header class="headline dribbble-headline">
	    <h2>{{global.dribbble-title}}</h2>
	    <p class="col2">{{global.dribbble-description}}</p>
	    <a class="btn" target="_blank" href="{{global.dribbble-btn-url}}"><span class="col3">{{global.dribbble-btn-title}}</span></a>
	</header>

	<a href="#" target="_blank" class=" dribbble-item col3">
		<div class="item-img">
	  		
		</div>
		<div class="layer">
	  		<span class="wen"></span>
		</div>
	</a>

	<a href="#" target="_blank" class=" dribbble-item col3">
		<div class="item-img">

		</div>
		<div class="layer">
	  		<span class="wen"></span>
		</div>
	</a>

	<a href="#" target="_blank" class=" dribbble-item col3">
		<div class="item-img">
		
		</div>
		<div class="layer">
	  		<span class="wen"></span>
		</div>
	</a>







</div>